pkgbase = neon-breakout-bin
	pkgdesc = A colorful and relaxing Breakout game by Yeloby
	pkgver = 1.5.4
	pkgrel = 1
	url = https://github.com/Yeloby/neon-breakout
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = mesa
	depends = libxkbcommon
	depends = libudev.so
	depends = libcups
	provides = neon-breakout
	conflicts = neon-breakout
	source = neon-breakout-1.5.4.tar.gz::https://github.com/Yeloby/neon-breakout/releases/download/v1.5.4/neon-breakout-1.5.4.tar.gz
	source = io.github.Yeloby.NeonBreakout.desktop::https://github.com/Yeloby/neon-breakout/raw/v1.5.4/packaging/flatpak/io.github.Yeloby.NeonBreakout.desktop
	source = io.github.Yeloby.NeonBreakout.png::https://github.com/Yeloby/neon-breakout/raw/v1.5.4/packaging/flatpak/io.github.Yeloby.NeonBreakout.png
	sha256sums = 4e26762de6775fd3b838d389933f49fe718d80c51780fc44b613690aacc92a68
	sha256sums = ca0fa4baa049a4875a35864909d1f9c6cc41e32d786e1d99c605a66cbfa2cabd
	sha256sums = acf167e69c73db87321daed59817d7b4ca6c5e99c2e6fb0a96340c7cf78973db

pkgname = neon-breakout-bin
