[Desktop Entry]
Name=Neon Breakout
Comment=A colorful and relaxing Breakout game
Comment[no]=Et fargerikt og avslappende Breakout-spill
Exec=neon-breakout
Icon=io.github.Yeloby.NeonBreakout
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=true
StartupWMClass=Neon Breakout
